<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
    <title>Filtro</title>
    <link rel="stylesheet" href="stylesheets/base.css">
</head>
<body>
    Copie o texto da pagina e cole nesta caixa:
    <p></p>
    <form action="/diasDisponiveis" method="POST">
        <textarea type="text" name="entradaTexto" cols="60" rows="20">
        </textarea>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p>Após colar, clique neste botão:</p>
        <input type="submit" value="Pronto">
    </form>
</body>
</html>