<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
    <title>Filtro Reder</title>
</head>
<body>
    Copie o texto da pagina e cole nesta caixa:
    <p></p>
    <form action="/diasDisponiveis" method="POST">
        <textarea type="text" name="entradaTexto" cols="60" rows="20"></textarea>
        <p>Após colar, clique neste botão:</p>
        <input type="submit" value="Pronto">
    </form>
</body>
</html>